html, body { margin: 0; padding: 0; height: 100%; width: 100%; overflow: hidden; background-color: whitesmoke; }

a, .link {
    color: #23D;
    cursor: pointer;
    text-decoration: none;
}
a:hover, .link:hover {
    color: #34D;
    cursor: pointer;
    text-decoration: underline;
}

h1 { text-align: center }

#wrapper {
    margin: auto;
    width: 800px;
    display: table;
    border: 3px dashed transparent;
}

#source, #base64 {
    width: 395px;
    display: table-cell;
    overflow: hidden;
}

.dragover #source {
    border-color:red;
}

.textarea-title {
    line-height: 2em;
    height: 2em;
    overflow: hidden;
}

#wrapper textarea {
    width: 385px;
    outline: none;
    min-height: 200px;
    border: 1px solid #CCC;
    font: 12px/14px Menlo, Consolas, monospace;
}

#fileInput {
    width: 0;
    opacity: 0.01;
    outline: none;
    z-index: -1;
    position: relative;
    left: -7em;
}
