body, div, h1, h2, h3, p {
	padding: 0px;
	margin: 0;
}

body {
	background-color: whitesmoke;
	text-align: center;
	padding: 10px;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#wrapper {
	width: 450px;
	background-color: white;
	border: 1px solid black;
	margin: auto;
	padding: 20px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	-webkit-box-shadow: 10px 10px 5px #888;
	-moz-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
}
#wrapper div {
	padding: 10px 0px;
	text-align: left;
}
#wrapper label {
	display: block;
	font-weight: bold;
}
#wrapper textarea {
	width: 450px;
}
#wrapper input[type='button'] {
	width: 120px;
}